@font-face {
  font-family: Inter;
  src: url(../fonts/static/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../fonts/static/Inter-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/static/Inter-Bold.ttf);
  font-weight: 800;
}

body {
  font-family: Inter, sans-serif;
}

p {
  font-size: 15px;
}
