@font-face {
  font-family: Inter;
  src: url(../fonts/static/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../fonts/static/Inter-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/static/Inter-Bold.ttf);
  font-weight: 800;
}

:root {
  --light-accent: #e9ab53;
  --dark-accent: #f15e50;
  --light: #fffdfa;
  --light-shade: #c5c6ce;
  --dark-shade: #5d5f79;
  --dark: #00001a;
}

body {
  color: var(--dark-shade);
  color: #5d5f79;
  background-color: var(--light);
  background-color: #fffdfa;
  font-family: Inter, sans-serif;
  position: relative;
}
.bg-inverted {
  background-color: var(--dark);
  background-color: #00001a;
}
.text-inverted {
  color: var(--light-shade);
  color: #c5c6ce;
}
.page-footer {
  height: auto;
  padding: 1rem;
  margin: auto;
  text-align: center;
  font-size: 0.9em;
}
.page-footer a {
  color: var(--dark);
  color: #00001a;
}

p {
  font-size: 15px;
  line-height: 1.66;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}
a:hover,
a:focus {
  color: var(--dark-accent);
  color: #f15e50;
  outline: none;
}

.btn {
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.33em;
  font-size: 13.34px;
  font-family: inherit;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-accent {
  background-color: #f15e50;
  color: #fffdfa;
  padding: 1.2em 2.5em;
}
.btn-accent:hover,
.btn-accent:focus {
  background-color: var(--dark);
  background-color: #00001a;
  outline: none;
}
