/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 5.5rem;
}
.nav-toggler {
  position: relative;
  bottom: 0.1rem;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.nav-toggler img {
  display: block;
  width: 40px;
  pointer-events: none;
}
.main-nav {
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100vh;
  width: 65%;
  padding-top: 133px;
  background-color: var(--light);
  background-color: #fffdfa;
}
.nav-list {
  list-style: none;
}
.nav-item {
  width: 100%;
}
.nav-link {
  display: block;
  padding: 0.52em 1em;
  font-size: 1.2em;
  cursor: pointer;
}
.mob-nav {
  width: 0;
}
@media screen and (min-width: 786px) {
  .nav-toggler {
    display: none;
  }
  .main-nav {
    position: static;
    width: 100%;
    min-height: 100%;
    height: 100%;
    padding: 0;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .nav-list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }
  .nav-item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 1.2rem;
  }
  .nav-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1rem;
    padding: 1rem 0.2rem 1rem 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    min-height: 185px;
    padding-top: 2.2rem;
  }
  .logo-link .logo {
    width: 66px;
  }
}
