.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.5rem;
}
.nav-toggler {
  position: relative;
  bottom: 0.1rem;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.nav-toggler img {
  display: block;
  width: 40px;
  pointer-events: none;
}
.main-nav {
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100vh;
  width: 65%;
  padding-top: 133px;
  background-color: var(--light);
  background-color: #fffdfa;
  transition: width 0.5s ease-out;
  -webkit-transition: width 0.5s ease-out;
  -moz-transition: width 0.5s ease-out;
}
.nav-list {
  list-style: none;
}
.nav-item {
  width: 100%;
}
.nav-link {
  display: block;
  padding: 0.52em 1em;
  font-size: 1.2em;
  cursor: pointer;
}
.mob-nav {
  width: 0;
  transition: width 0.5s ease-in;
  -webkit-transition: width 0.5s ease-out;
  -moz-transition: width 0.5s ease-out;
}
@media screen and (min-width: 786px) {
  .mob-nav {
    width: 100%;
    transition: none;
  }
  .nav-toggler {
    display: none;
  }
  .main-nav {
    position: static;
    width: 100%;
    min-height: 100%;
    height: 100%;
    padding: 0;
    transition: none;
  }
  .nav-list {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }
  .nav-item {
    width: fit-content;
    margin-left: 1.2rem;
  }
  .nav-link {
    width: fit-content;
    font-size: 1rem;
    padding: 1rem 0.2rem 1rem 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    min-height: 185px;
    padding-top: 2.2rem;
  }
  .logo-link .logo {
    width: 66px;
  }
}
