/* why does it need margin top... this should be done with grid gaps */
.popular-grid {
  margin-top: 0.6rem;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 36px;
  grid-template-areas:
    "item1 item1 item1 item1 item1 item1"
    "item2 item2 item2 item2 item2 item2"
    "item3 item3 item3 item3 item3 item3";
}
.grid-item-1 {
  grid-area: item1;
}
.grid-item-2 {
  grid-area: item2;
}
.grid-item-3 {
  grid-area: item3;
}

.popular-list div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.popular li {
  display: inline-flex;
  align-items: space-between;
}
.popular img {
  display: block;
  width: 100px;
  margin-right: 24px;
}

.popular .number {
  display: block;
  margin-bottom: 0.65rem;
  font-size: 1.9rem;
  font-weight: bold;
}
.popular h2 {
  margin-bottom: 0.6rem;
  color: var(--dark);
  color: #00001a;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.08rem;
}
@media screen and (min-width: 1200px) {
  .popular-grid {
    margin-top: 0.2rem;
    grid-template-rows: 1fr;
    gap: 28px;
    grid-template-areas: "item1 item1 item2 item2 item3 item3";
  }
}
