.trending img {
  display: block;
  width: 100%;
  height: auto;
}
.trending .title-1 {
  display: block;
  font-size: 2.56rem;
  line-height: 1;
  color: var(--dark);
  color: #00001a;
  margin-bottom: 0.9rem;
}
.trending p {
  margin-bottom: 1.7rem;
}

@media screen and (min-width: 786px) {
}
@media screen and (min-width: 1200px) {
  .trending .content div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .trending .title-1 {
    font-size: 57.5px;
    line-height: 1;
    margin-bottom: 0;
    line-height: 1em;
  }
  .trending p {
    line-height: 1.5em;
  }
}
